@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

$font-family: "Kumbh Sans", sans-serif;
$font-priamry: 62.5%;

$font-weigth-normal: 400;
$font-weigth-regular: 700;

$letter-spacing: 1.2px;
