@use "../abstracts/" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $font-priamry;
	font-family: $font-family;
}

.shadow {
	position: absolute;
	inset: 0;
	background-color: rgba(black, 0.8);
	z-index: 100;
	min-height: 100%;
	@include mmq(large) {
		display: none;
	}
}
