@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

/* font-family: 'Kumbh Sans', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.shadow-bg {
	z-index: 10;
}

#modal-shadow {
	z-index: 1000;
}

.nav-page {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-left-side {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
}

.menu li:first-child {
	margin-left: 90px;
}

.menu li {
	list-style: none;
	margin-left: 34px;
}

.menu li a {
	text-decoration: none;
	font-size: 16px;
	color: hsl(0, 0%, 0%);
	opacity: 0.6;
	transition: all 0.3s ease-in-out;
}

.menu li a:hover {
	opacity: 1;
}

.nav-right-side {
	display: flex;
	align-items: center;
	position: relative;
}
.modal {
	display: none;
	position: absolute;
	min-height: 250px;
	top: 70px;
	left: -140%;
	width: 350px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 14px 30px 6px rgba(50, 50, 50, 0.25);
}

.modal-title {
	padding: 10px 10px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.246);
}

.is-active {
	display: block;
}

.modal-empty {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-item {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.modal-items h4 {
	color: hsl(220, 13%, 13%);
}

.modal-title h2 {
	font-size: 16px;
}

.modal-btn {
	padding: 20px;
	text-align: center;
}

.modal-btn button {
	background-color: hsl(26, 100%, 55%);
	width: 95%;
	border-radius: 10px;
	padding: 20px 40px;
	border: none;
	color: #fff;
	letter-spacing: 1.2px;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.modal-btn button:hover {
	opacity: 0.8;
	box-shadow: 0px 10px 13px -7px hsl(26, 100%, 55%);
}

.svg {
	margin-right: 50px;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	position: relative;
}

.svg-item {
	position: absolute;
	top: -8px;
	right: -6px;
	background-color: hsl(26, 100%, 55%);
	border-radius: 50%;
	padding: 2px 7px;
}

.svg-item-is-full {
	color: #fff;
	font-size: 10px;
}

.svg:hover {
	opacity: 1;
}

.avatar-img {
	cursor: pointer;
	width: 50px;
}

.container-v2 {
	max-width: 1150px;
	margin: 0 auto;
}

.shoes-info {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.shoes-left-side {
	flex-basis: 50%;
}

.shoes-img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	cursor: pointer;
}

.shoes-img-small {
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
}

.shoes-img-small img {
	border-radius: 10%;
	width: 100px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.shoes-img-small img:hover {
	opacity: 0.6;
}

.shoes-right-side {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	margin-left: 150px;
}

.info-cart {
	align-self: center;
}

.title-comapny {
	color: hsl(26, 100%, 55%);
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.7px;
}
.info-shoes {
	padding: 30px 0;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 1.7px;
}

.description {
	line-height: 1.7;
	letter-spacing: 1.1px;
}

.new-price {
	font-size: 30px;
	margin: 20px 0 10px 0;
	font-weight: 700;
	display: flex;
	align-content: center;
}

.info-cart-price {
	display: flex;
}

.sale {
	margin: 20px 0 10px 10px;
	align-self: center;
	text-align: center;
	font-size: 13px;
	background-color: hsl(25, 100%, 94%);
	color: hsl(26, 100%, 55%);
	padding: 5px;
	border-radius: 5px;
	font-weight: 700;
}

.old-price {
	font-size: 18px;
	opacity: 0.6;
	text-decoration-line: line-through;
	margin-bottom: 30px;
}

.widgets {
	display: flex;
}

.widgets-add {
	display: flex;
	flex-basis: 40%;
}

.widgets-add .box {
	background-color: rgba(0, 0, 0, 0.034);
	text-align: center;
	padding: 20px 10px;
}

.decrease,
.increase {
	color: hsl(26, 100%, 55%);
	flex-basis: 33%;
	align-self: center;
	cursor: pointer;
}

.decrease {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.increase {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.decrease:hover svg,
.increase:hover svg {
	opacity: 0.6;
}

.count {
	flex-grow: 1;
	align-self: center;
	font-weight: 700;
}

.btn-add-to-cart {
	margin-left: 10px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-self: center;
	padding: 20px 10px;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 18px;
	background-color: hsl(26, 100%, 55%);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.btn-add-to-cart p {
	margin-left: 20px;
}

.btn-add-to-cart:hover {
	opacity: 0.8;
	box-shadow: 0px 10px 13px -7px hsl(26, 100%, 55%);
}

.modal-is-open {
	top: 0;
	left: 0;
	position: absolute;
	height: 100vh;
	width: 100%;
}

.modal-img-shoes {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.modal-box-img {
	width: 500px;
	position: relative;
}

.previous,
.next {
	position: absolute;
	background-color: #fff;
	width: 50px;
	height: 50px;
	line-height: 55px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: stroke 0.3s ease;
}

.previous {
	top: 50%;
	left: -25px;
}

.previous svg path,
.next svg path {
	transition: stroke 0.3s ease;
}

.previous:hover svg path,
.next:hover svg path {
	stroke: hsl(26, 100%, 55%);
}

.next {
	top: 50%;
	right: -25px;
}

.shadow {
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	width: 100%;
	min-height: 100vh;
}

.is-hidden {
	display: none;
}

.close-modal {
	text-align: right;
	position: relative;
	top: -10px;
	cursor: pointer;
}

.close-modal svg path {
	transition: fill 0.3s ease;
}

.close-modal:hover svg path {
	fill: hsl(26, 100%, 55%);
}

.is-hover {
	stroke: hsl(26, 100%, 55%);
}

.cart-img-small-size {
	width: 70px;
	height: 70px;
}

.cart-img-small-size img {
	width: 100%;
	border-radius: 10px;
}

.cart-item-name {
	align-self: center;
}

.cart-item-name h4 {
	font-size: 15px;
	opacity: 0.6;
	margin-bottom: 7px;
}

.delete {
	align-self: center;
	cursor: pointer;
}

.result {
	font-weight: 900;
}

.multiplication {
	padding-left: 10px;
}

.itemsInCart {
	padding: 0 10px;
}

.new-price-cart {
	opacity: 0.9;
}

.is-active-focus {
	border: 3px solid hsl(26, 100%, 55%);
	border-radius: 10px;
	opacity: 0.7;
	z-index: -1;
}

.shoes-img-small-shadow {
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
}

.shoes-img-small-shadow img {
	border-radius: 10%;
	width: 100px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.shoes-img-small-shadow img:hover {
	opacity: 0.6;
}

.shoes-img-shadow {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	cursor: pointer;
}
